.tip-btn {
  background-color: $very-dark-cyan;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;

  &:hover {
    background-color: $strong-cyan;
    color: $very-dark-cyan;
  }
}

.custom-input {
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  border: none;
  text-align: right;
  outline: none;
  font-weight: 700;
  border-radius: 5px;

  &::placeholder {
    opacity: 0.7;
    text-align: center;
  }
}

.bill-input,
.people-input {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
}

.reset-btn {
  border: none;
  border-radius: 20px;
  background-color: $strong-cyan;
  color: $very-dark-cyan;
  padding: 10px 100px;
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms ease;

  @media (hover: hover) {
    &:enabled:hover {
      background-color: $strong-cyan-2;
      //   color: $color-primary-button;
    }
  }

  &:disabled {
    background-color: #0d686d;
  }
}
